.login {
  border-radius: 3px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: rgb(73, 73, 94);
  form {

    color:black;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    label {
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 10px;
    }
  }
}
